{% extends 'base.html' %}

{% block title %}Home - SCGF{% endblock %}

{% block content %}
    <div class="col-8 m-auto home-div">

        <h1>Saldo R$ 4 000,00</h1>
        <div class="values">
            <p class="receitas">Receitas R$ 4 300,00</p>
            <p class="despesas">Despesas R$ 300,00</p>
        </div>

        <h2>Transações</h2>
        
        <div class="transactions">

            {% for transacao in transacoes %}
                <h4 class="date-transactions">{{ transacao.data_transacao }}</h4>

                {% if transacao.pago == "nao_pago" and transacao.tipo_transacao == "receita" %}
                    <div class="row transaction-item">
                        <div class="col-10 item-div item-receita">
                            <p>{{ transacao.descricao }}</p>
                            <p class="item-valor">{{ transacao.valor }}</p> 
                        </div>
                        <div class="col-2 item-edit">
                            <span><i class="iconify icon-delete" data-icon="ic:baseline-delete-forever" data-inline="false"></i></span>
                            <span class="iconify icon-edit" data-icon="fa-solid:edit" data-inline="false"></span>
                        </div>
                    </div>
                {% endif %}

                {% if transacao.pago == "nao_pago" and transacao.tipo_transacao == "despesa" %}
                    <div class="row transaction-item">
                        <div class="col-10 item-div item-despesa">
                            <p>{{ transacao.descricao }}</p>
                            <p class="item-valor">{{ transacao.valor }}</p> 
                        </div>
                        <div class="col-2 item-edit">
                            <span><i class="iconify icon-delete" data-icon="ic:baseline-delete-forever" data-inline="false"></i></span>
                            <span class="iconify icon-edit" data-icon="fa-solid:edit" data-inline="false"></span>
                        </div>
                    </div>
                {% endif %}

                {% if transacao.pago == "pago" and transacao.tipo_transacao == "receita" %}
                    <div class="row transaction-item">
                        <div class="col-10 item-div item-pago-receita">
                            <p>{{ transacao.descricao }}</p>
                            <p class="item-valor">{{ transacao.valor }}</p> 
                        </div>
                        <div class="col-2 item-edit">
                            <span><i class="iconify icon-delete" data-icon="ic:baseline-delete-forever" data-inline="false"></i></span>
                            <span class="iconify icon-edit" data-icon="fa-solid:edit" data-inline="false"></span>
                        </div>
                    </div>
                {% endif %}

                {% if transacao.pago == "pago" and transacao.tipo_transacao == "despesa" %}
                    <div class="row transaction-item">
                        <div class="col-10 item-div item-pago-despesa">
                            <p>{{ transacao.descricao }}</p>
                            <p class="item-valor">{{ transacao.valor }}</p> 
                        </div>
                        <div class="col-2 item-edit">
                            <span><i class="iconify icon-delete" data-icon="ic:baseline-delete-forever" data-inline="false"></i></span>
                            <span class="iconify icon-edit" data-icon="fa-solid:edit" data-inline="false"></span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <button type="button" class="btn btn-primary btn-lg">Adicionar Transação</button>
        
        </div>
          
    </div>
{% endblock %}