@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background-color: #03264B;
    font-family: 'Roboto', sans-serif;
}



/* Navbar */

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    padding: 0;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    font-weight: bold;
}

a {
    color: white;
}

a:hover {
    color: #BD93F9;
}



/* Page Home */

.home-div {
    padding: 0;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-top: 50px;

    color: #BD93F9;
}

div .values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.receitas {
    font-style: normal;
    font-size: 24px;
    line-height: 28px;

    color: #50FA7B;
}

.despesas {
    font-style: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FF5555;
}

h2, h3, h4 {
    color: white;
    margin-top: 20px;
}

.date-transactions {
    font-size: 16px;
}

.transaction-item {
    margin-left: auto;
    margin-bottom: 10px;
}

.item-div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px 5px;
}

.item-receita {
    background: #00FFFF;
    border: 4px solid #50FA7B;
    color: 	#4F4F4F;
}

.item-despesa {
    background: #00FFFF;
    border: 4px solid #FF5555;
    color: 	#4F4F4F;
}

.item-pago-receita {
    background: #50FA7B;
    border: 4px solid #50FA7B;
    color: white;
}

.item-pago-despesa {
    background: #FF5555;
    border: 4px solid #FF5555;
    color: white;
}

.item-div p {
    font-size: 20px;
    margin-bottom: 0;
}

.item-edit {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-delete, .icon-edit {
    cursor: pointer;
    margin: 5px;
    width: 28px;
    height: 28px;
}

.icon-delete {
    color: #FF5555;
}

.icon-edit {
    color: #50FA7B;
}

.btn {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: .6rem 50px;
    margin-top: 35px;

    border-radius: 25px;
}

#add-link {
    text-decoration: none;
}

/* Add Transação */
div form {
    margin-top: 30px;
}

div form p {
    color: white;
    
}

form label, form input {
    display: block;
}


/* Grupo */
.membro-div p{
    color: white;
    font-size: 20px;
}

.id-grupo {
    font-size: 18px;
}


/* Rodapé */

footer {
    margin-top: 40px;
}

footer p {
    margin: 0;
    padding: 10px 0;
    color: #f5f5f5;
    text-align: center;
}


/* Messages */
ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}

/* Login */


.title-login, .title-register {
    font-size: 48px;
}

.login-div label, .register-div label {
    color: white;
}

.form-text, .text-muted {
    display: none;
}

.change-text {
    margin-top: 30px;
    color: white;
    text-align: center;
}

