@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background-color: #03264B;
    font-family: 'Roboto', sans-serif;
}



/* Navbar */

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    padding: 0;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    font-weight: bold;
}


/* Page Home */

.home-div {
    padding: 0;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-top: 50px;

    color: #BD93F9;
}

div .values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.receitas {
    font-style: normal;
    font-size: 24px;
    line-height: 28px;

    color: #50FA7B;
}

.despesas {
    font-style: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FF5555;
}

h2, h3, h4 {
    color: white;
    margin-top: 20px;
}

.date-transactions {
    font-size: 16px;
}

.transaction-item {
    margin-left: auto;
    margin-bottom: 10px;
}

.item-div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 5px;
}

.item-receita {
    background: #BD93F9;
    border: 4px solid #50FA7B;
}

.item-despesa {
    background: #BD93F9;
    border: 4px solid #FF5555;
}

.item-pago-receita {
    background: #50FA7B;
    border: 4px solid #50FA7B;
}

.item-pago-despesa {
    background: #FF5555;
    border: 4px solid #FF5555;
}

.item-div p {
    font-size: 20px;
    margin-bottom: 0;
    color: white;
}

.item-edit {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fas.fa-trash, .fas.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
}

.fas.fa-trash {
    color: #FF5555;
}

.fas.fa-edit {
    color: #50FA7B;
}


/* Rodapé */

footer {
    margin-top: 20px;
}

footer p {
    margin: 0;
    padding: 10px 0;
    color: #f5f5f5;
    text-align: center;
}